.rt-table a.table-link.info {
    color: #17a2b8;
}

.rt-table a.table-link.warning {
    color: #ffc107;
}

.rt-table a.table-link.danger {
    color: #dc3545;
}

.rt-table .rt-tbody .rt-tr-group .rt-tr .rt-td.status {
    text-align: center;
}